# DataFrame

In [ ]:
import pandas as pd

# 1. 创建dataframe
# 1.1 从字典创建
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
# 只要字典也可以，index和columns是可选的
# index 是行索引，columns 是列标签
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],columns=['name', 'age', 'city'])
print(df)

         name  age         city
row1    Alice   25     New York
row2      Bob   30  Los Angeles
row3  Charlie   35      Chicago

In [5]:
# 通过 series 创建 dataframe

s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

df = pd.DataFrame({'第一列': s1, '第二列': s2})
df

   第一列  第二列
0    1    6
1    2    7
2    3    8
3    4    9
4    5   10

In [ ]:
print(type(df)) # pandas.core.frame.DataFrame
print(type(df['第一列'])) # pandas.core.series.Series

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>