# DataFrame的属性

In [17]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['New York', 'Los Angeles', 'Chicago'],
    'salary': [70000, 80000, 90000],
}

df = pd.DataFrame(data)

In [18]:
print('行索引:',df.index)
print('列标签:',df.columns)
print('值:',df.values)

行索引: RangeIndex(start=0, stop=3, step=1)
列标签: Index(['name', 'age', 'city', 'salary'], dtype='object')
值: [['Alice' 25 'New York' 70000]
 ['Bob' 30 'Los Angeles' 80000]
 ['Charlie' 35 'Chicago' 90000]]

In [20]:
print('维度:', df.ndim)
print('形状:', df.shape)
print('元素个数:', df.size)
print('数据类型:', df.dtypes)

维度: 2
形状: (3, 4)
元素个数: 12
数据类型: name      object
age        int64
city      object
salary     int64
dtype: object

In [22]:
# 行列转置
df.T

               0            1        2
name       Alice          Bob  Charlie
age           25           30       35
city    New York  Los Angeles  Chicago
salary     70000        80000    90000

In [26]:
# 获取元素 loc iloc at iat
print('某行:')
print(df.loc[0])  # 使用标签索引
print('某行:')
print(df.iloc[0])  # 使用位置索引

某行:
name         Alice
age             25
city      New York
salary       70000
Name: 0, dtype: object
某行:
name         Alice
age             25
city      New York
salary       70000
Name: 0, dtype: object

In [28]:
print('某列:')
print(df['name'])  # 使用列标签

print('某列:')
print(df.loc[:, 'name'])  # 使用标签索引

print('某列:')
print(df.iloc[:, 0])  # 使用位置索引

某列:
0      Alice
1        Bob
2    Charlie
Name: name, dtype: object
0      Alice
1        Bob
2    Charlie
Name: name, dtype: object
某列:
0      Alice
1        Bob
2    Charlie
Name: name, dtype: object

In [29]:
# 获取单个元素
print('单个元素:')
print(df.at[0, 'name'])  # 使用标签索引
print('单个元素:')
print(df.iat[0, 0])  # 使用位置索引

单个元素:
Alice
单个元素:
Alice

In [31]:
# 获取多行多列
print('多行多列:')
print(df.loc[0:1, ['name', 'age']])  # 使用标签索引
print('多行多列:')
print(df.iloc[0:2, 0:2])  # 使用位置索引

多行多列:
<class 'pandas.core.frame.DataFrame'>
多行多列:
    name  age
0  Alice   25
1    Bob   30

In [32]:
# 多列
print('多列:')
print(df[['name', 'age']])

多列:
      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [33]:
# 条件筛选
print('条件筛选:')
print(df[df['age'] > 28])

条件筛选:
      name  age         city  salary
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000

In [34]:
# 多条件筛选
print('多条件筛选:')
print(df[(df['age'] > 28) & (df['salary'] > 75000)])

多条件筛选:
      name  age         city  salary
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000

In [35]:
# head tail
print('前两行:')
print(df.head(2))
print('后两行:')
print(df.tail(2))

前两行:
    name  age         city  salary
0  Alice   25     New York   70000
1    Bob   30  Los Angeles   80000
后两行:
      name  age         city  salary
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000

In [36]:
# 随机抽样
print('随机抽样:')
print(df.sample(2))

随机抽样:
      name  age      city  salary
0    Alice   25  New York   70000
2  Charlie   35   Chicago   90000